{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        {{!-- <li>
            <a href="#" target="_black" class="social-weibo">
            <a href="#" target="_black" class="social-twitter">
                <i class="fa fa-xlg fa-weibo" data-original-title="{{t "Weibo"}}" data-rel="tooltip"></i>
                <i class="iconfont icon-twitter" data-original-title="{{t "Twitter"}}" data-rel="tooltip"
                style="width: 22.03px; height: 26">
                </i>
            </a>
        </li> --}}
        {{!-- <li>
            <a href="https://github.com/QAQFaker" target="_black" class="social-github">
                <i class="fa fa-xlg fa-github" data-original-title="{{t "Github"}}" data-rel="tooltip"></i>
            </a>
        </li> --}}
        <li>
            <a href="https://music.163.com/#/user/home?id=113817316" target="_black" class="social-music">
                <i class="fa fa-xlg fa-music" data-original-title="{{t "NeteaseMusic"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="mailto:panxin109@gmail.com" target="_black" class="social-mail">
                <i class="fa fa-xlg fa-envelope-o" data-original-title="{{t "Contact Me"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="/rss/" target="_black" class="social-rss">
                <i class="fa fa-xlg fa-rss" data-original-title="{{t "RSS"}}" data-rel="tooltip"></i>
            </a>
        </li>
    </ul>
</nav>
